<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="final_sborka">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.189258967187709 0.00401683698485132 0.0933778739605291"
        rpy="0 0 0" />
      <mass
        value="914.452079696213" />
      <inertia
        ixx="42.9246512496277"
        ixy="-0.605649329688648"
        ixz="3.33779293763624"
        iyy="78.7593849939863"
        iyz="-0.352619496721266"
        izz="116.021952346145" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.167293278145868 0.585343468258329 -0.00324788777630395"
        rpy="0 0 0" />
      <mass
        value="1379.53014449147" />
      <inertia
        ixx="153.921385556792"
        ixy="-31.5023748680868"
        ixz="-1.78310212073498"
        iyy="138.0791210482"
        iyz="-3.37293983714756"
        izz="125.935035255513" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor1"
    type="revolute">
    <origin
      xyz="0 0 0.01"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base" />
    <child
      link="head" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="high_arm">
    <inertial>
      <origin
        xyz="-0.0125538226301623 0.59106591173716 0.0697985008768212"
        rpy="0 0 0" />
      <mass
        value="454.868573434854" />
      <inertia
        ixx="51.6918173053612"
        ixy="8.0042549282528"
        ixz="0.137496877784801"
        iyy="7.55814264251547"
        iyz="-2.42343580206584"
        izz="52.2427728510625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/high_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/high_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor2"
    type="revolute">
    <origin
      xyz="0.298483293510032 0.790000000000002 -0.0850174893503438"
      rpy="0 0 0" />
    <parent
      link="head" />
    <child
      link="high_arm" />
    <axis
      xyz="-0.0184366731924179 0 -0.999830030095914" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="low_arm">
    <inertial>
      <origin
        xyz="0.274408142045992 -0.0131956359032004 0.0411711891356362"
        rpy="0 0 0" />
      <mass
        value="360.816144658962" />
      <inertia
        ixx="24.9318502226962"
        ixy="33.9240100401785"
        ixz="1.08037492891662"
        iyy="61.5377068355178"
        iyz="-0.577421257395586"
        izz="83.1017138943963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis7"
    type="revolute">
    <origin
      xyz="-0.183119759358241 1.26673687699035 0.0378825580531297"
      rpy="0 0 0" />
    <parent
      link="high_arm" />
    <child
      link="low_arm" />
    <axis
      xyz="0.0184366731924141 0 0.999830030095914" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="pre_gripper">
    <inertial>
      <origin
        xyz="0.20954894518862 -0.0452690692274145 0.166160819403578"
        rpy="0 0 0" />
      <mass
        value="89.9365732719352" />
      <inertia
        ixx="1.60730025120458"
        ixy="-0.103125129378045"
        ixz="-0.110975951476438"
        iyy="1.4034911436931"
        iyz="-0.275036176061164"
        izz="1.89000578748732" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/pre_gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/pre_gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis14"
    type="revolute">
    <origin
      xyz="1.1660316441599 -0.676833423725695 -0.121518398825989"
      rpy="0 0 0" />
    <parent
      link="low_arm" />
    <child
      link="pre_gripper" />
    <axis
      xyz="-0.018436673192416 0 -0.999830030095914" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="-0.000561851059435625 0.0172675047696069 2.52764939984926E-05"
        rpy="0 0 0" />
      <mass
        value="6.84022861396891" />
      <inertia
        ixx="0.0186605164945425"
        ixy="-2.77437150651245E-05"
        ixz="1.32873936964126E-06"
        iyy="0.0364132891201877"
        iyz="-2.61338960666571E-06"
        izz="0.0189277907619224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis15"
    type="revolute">
    <origin
      xyz="0.26268 -0.249 0.14318"
      rpy="0 0 0" />
    <parent
      link="pre_gripper" />
    <child
      link="gripper" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="help3">
    <inertial>
      <origin
        xyz="-0.583049237925413 0.338416711876481 0.0589470419787836"
        rpy="0 0 0" />
      <mass
        value="17.1868398415231" />
      <inertia
        ixx="0.778644038828018"
        ixy="1.33159681086971"
        ixz="0.0424367741456565"
        iyy="2.30459458353688"
        iyz="-0.0245543887331749"
        izz="3.07922904966382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis13"
    type="revolute">
    <origin
      xyz="0.34932 0.28925 0.24625"
      rpy="0 0 0" />
    <parent
      link="pre_gripper" />
    <child
      link="help3" />
    <axis
      xyz="0.018437 0 0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="help2">
    <inertial>
      <origin
        xyz="-0.0253899829646354 0.148491590960334 -0.0678708397431304"
        rpy="0 0 0" />
      <mass
        value="69.5137975317228" />
      <inertia
        ixx="0.750879863071479"
        ixy="-0.345699009767701"
        ixz="0.649247159049298"
        iyy="2.84350554962448"
        iyz="0.102974176315268"
        izz="3.17693783707243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis9"
    type="revolute">
    <origin
      xyz="-0.17617 1.2667 0.41497"
      rpy="0 0 0" />
    <parent
      link="high_arm" />
    <child
      link="help2" />
    <axis
      xyz="-0.018437 0 -0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="help1">
    <inertial>
      <origin
        xyz="-0.0924724950023973 0.633368438495262 -0.0305503074631769"
        rpy="0 0 0" />
      <mass
        value="16.3678398415228" />
      <inertia
        ixx="2.60129431281365"
        ixy="0.376489311560619"
        ixz="0.00107327050369006"
        iyy="0.0605454591965984"
        iyz="-0.00694239039513931"
        izz="2.65947851939066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis4"
    type="revolute">
    <origin
      xyz="-0.10975 0.95857 0.40684"
      rpy="0 0 0" />
    <parent
      link="head" />
    <child
      link="help1" />
    <axis
      xyz="0.018437 0 0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="help2_1">
    <inertial>
      <origin
        xyz="0.390568841656738 -0.0200813760768281 -0.14080213277906"
        rpy="0 0 0" />
      <mass
        value="69.5137975317228" />
      <inertia
        ixx="0.750879863071479"
        ixy="-0.345699009767701"
        ixz="0.649247159049298"
        iyy="2.84350554962448"
        iyz="0.102974176315268"
        izz="3.17693783707243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help2_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help2_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis10"
    type="revolute">
    <origin
      xyz="-0.18389 1.2667 -0.0039623"
      rpy="0 0 0" />
    <parent
      link="help1" />
    <child
      link="help2_1" />
    <axis
      xyz="0.018437 0 0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="help3_1">
    <inertial>
      <origin
        xyz="0.584457329359857 -0.338416711874956 0.0174144623294639"
        rpy="0 0 0" />
      <mass
        value="17.1868398415231" />
      <inertia
        ixx="0.778644038828018"
        ixy="1.33159681086971"
        ixz="0.0424367741456565"
        iyy="2.30459458353688"
        iyz="-0.0245543887331749"
        izz="3.07922904966382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help3_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/help3_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis12"
    type="revolute">
    <origin
      xyz="0.75685 0.12068 -0.28375"
      rpy="0 0 0" />
    <parent
      link="help2_1" />
    <child
      link="help3_1" />
    <axis
      xyz="0.018437 0 0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="dop1">
    <inertial>
      <origin
        xyz="-0.141561810828703 0.0644155695503942 -0.0420819776959843"
        rpy="0 0 0" />
      <mass
        value="110.214713715685" />
      <inertia
        ixx="2.05616742026142"
        ixy="0.324477062726205"
        ixz="-0.835406048394447"
        iyy="4.0708304167973"
        iyz="-0.0219607886166647"
        izz="4.70693887213929" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/dop1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/dop1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor3"
    type="revolute">
    <origin
      xyz="0.30186 0.79 0.097951"
      rpy="0 0 0" />
    <parent
      link="head" />
    <child
      link="dop1" />
    <axis
      xyz="-0.018437 0 -0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="dop2">
    <inertial>
      <origin
        xyz="-0.0905111329206181 0.63336879669198 0.0756815877261638"
        rpy="0 0 0" />
      <mass
        value="61.6510325279006" />
      <inertia
        ixx="11.4397260827517"
        ixy="1.64862186582773"
        ixz="0.00513942605479094"
        iyy="0.313946505328943"
        iyz="-0.030398590209436"
        izz="11.7183581810312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/dop2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/dop2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis6"
    type="revolute">
    <origin
      xyz="-0.43582 0.25068 -0.16949"
      rpy="0 0 0" />
    <parent
      link="dop1" />
    <child
      link="dop2" />
    <axis
      xyz="-0.018437 0 -0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="low_arm_2">
    <inertial>
      <origin
        xyz="0.707830295719405 -0.263874681755723 0.0806870430398992"
        rpy="0 0 0" />
      <mass
        value="360.816144658962" />
      <inertia
        ixx="24.9318502226962"
        ixy="33.9240100401785"
        ixz="1.08037492891662"
        iyy="61.5377068355178"
        iyz="-0.577421257395585"
        izz="83.1017138943963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis11"
    type="revolute">
    <origin
      xyz="-0.1841 1.2667 -0.015108"
      rpy="0 0 0" />
    <parent
      link="dop2" />
    <child
      link="low_arm_2" />
    <axis
      xyz="0.018437 0 0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="comp1">
    <inertial>
      <origin
        xyz="-0.112533888494436 0.498351685807878 0.0322223996823683"
        rpy="0 0 0" />
      <mass
        value="37.3155610850658" />
      <inertia
        ixx="2.87155833035234"
        ixy="0.641491358501037"
        ixz="0.00314842591180009"
        iyy="0.190163175516303"
        iyz="-0.0138344444210958"
        izz="3.01755986314652" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/comp1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/comp1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis5"
    type="revolute">
    <origin
      xyz="0.33407 1.0722 -0.30671"
      rpy="0 0 0" />
    <parent
      link="head" />
    <child
      link="comp1" />
    <axis
      xyz="-0.018437 0 -0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="comp2">
    <inertial>
      <origin
        xyz="0.0588830408486521 -0.259486157808543 -0.00118048131798304"
        rpy="0 0 0" />
      <mass
        value="23.7708191281335" />
      <inertia
        ixx="1.49257754069052"
        ixy="0.285908113777895"
        ixz="0.00117834573565005"
        iyy="0.297616231016195"
        iyz="-0.00450858475567395"
        izz="1.56585732731436" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/comp2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/comp2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis16"
    type="prismatic">
    <origin
      xyz="-0.20476 0.90479 0.034031"
      rpy="0 0 0" />
    <parent
      link="comp1" />
    <child
      link="comp2" />
    <axis
      xyz="-0.2213 0.9752 0.0040807" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="low_arm_1">
    <inertial>
      <origin
        xyz="0.279035747016989 -0.0131956359031857 0.292128526689712"
        rpy="0 0 0" />
      <mass
        value="360.816144658962" />
      <inertia
        ixx="24.9318502226962"
        ixy="33.9240100401785"
        ixz="1.08037492891662"
        iyy="61.5377068355178"
        iyz="-0.577421257395586"
        izz="83.1017138943963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_sborka/meshes/low_arm_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="axis8"
    type="revolute">
    <origin
      xyz="-0.018566 0.079722 -0.025412"
      rpy="0 0 0" />
    <parent
      link="comp2" />
    <child
      link="low_arm_1" />
    <axis
      xyz="-0.018437 0 -0.99983" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>